.third-post-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.third-post-section .related-post-part {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.container .third-post-section .related-post-part>h2 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
}

.third-post-section .related-post-part .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.third-post-section .related-post-part .box .box-image img {
    max-width: 250px;
    height: auto;
    display: block;
    padding: 10px;
}

.third-post-section .related-post-part .box .box-content h5 {
    margin: 0;
    color: #000;
}

.third-post-section .related-post-part .box .box-content h5 span {
    font-weight: normal;
    color: #807e7e;
}

.third-post-section .related-post-part .box .box-content h2 {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.2;
    color: #0f0f0f;
}



@media only screen and (max-width: 767px) {
    .third-post-section .related-post-part .box .box-image {
        flex: 2;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .third-post-section .related-post-part .box {
        flex-direction: column;
        order: 1;
    }


    .third-post-section .related-post-part .box .box-image img {
        max-width: 100%;
        background-size: cover;
        margin-right: 10px;
    }

    .third-post-section .related-post-part .box .box-content h5 {
        padding: 10px;
    }

    .third-post-section .related-post-part .box .box-content h5 span {
        padding: 0px 10px;
    }

    .third-post-section .related-post-part .box .box-content h2 {
        padding: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .third-post-section .related-post-part .box .box-content h2 {
        font-size: 24px;
    }

}