/* Global Styles */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Container Styles */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }


}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Navigation Bar Styles */
.nav-bar {
    border-bottom: rgb(204, 204, 204) solid 1px;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
}

.nav-bar h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.nav-bar .social-media {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar input[type="text"] {
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(179, 179, 179, 0.199);
    width: 240px;
    font-size: 14px;
}

.nav-bar input[type="text"]:focus {
    border: 2px solid rgba(179, 179, 179, 0.199);
    transition: 0.3s;
}

/* First Content */
body>h1 {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

.container .first-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100vh; */
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}

.container .first-content span {
    color: #aaa;
    font-weight: normal;
}

.container .first-content .image {
    flex: 1;
}

.container .first-content .image img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}

.container .first-content .text-content {
    flex: 1;
    padding: 50px;
}

.container .first-content .text-content h1 {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 40px;
}

.container .first-content .text-content p {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #555;
}


/*Second Section*/

.second-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #34568b
}

.second-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    gap: 20px;
}

.second-section .container .card {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.second-section .container .card:hover {
    transform: translateY(-10px);
}

.second-section .container .card .card-image img {
    width: 100%;
    height: 500px;
    display: block;
}

.second-section .container .card .card-content {
    padding: 15px;
}

.second-section .container .card h5 {
    margin: 0;
    color: #000;
}

.second-section .container .card h5 span {
    font-weight: normal;
    color: #d8d5d5;
}

.second-section .container .card h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1.2;
    color: #0f0f0f;
}

.second-section .container .card p {
    font-size: 16px;
    color: #111111;
    line-height: 1.6;
}


/*Third Section*/
.third-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.third-section .sport-part {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.container .third-section .sport-part>h2 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
}

.third-section .sport-part .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.third-section .sport-part .box .box-image img {
    max-width: 250px;
    height: auto;
    display: block;
    padding: 20px;
}

.third-section .sport-part .box .box-content h5 {
    margin: 0;
    color: #000;
}

.third-section .sport-part .box .box-content h5 span {
    font-weight: normal;
    color: #807e7e;
}

.third-section .sport-part .box .box-content h2 {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.2;
    color: #0f0f0f;
}

@media only screen and (min-width: 600px) {
    .third-section .sport-part .box .box-content h2 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .third-section .sport-part .box .box-content h2 {
        font-size: 14px;
    }

    .third-section .sport-part .box .box-content h5 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .third-section .sport-part .box .box-content h2 {
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .third-section .sport-part .box .box-content h2 {
        font-size: 24px;
    }
}



/*Footer*/

.footer {
    margin-top: 100px;

}

.footer .container {
    width: 100%;
    height: 350px;
    background-color: #34568b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer .container .subscribe {
    width: 100%;
    background-color: #00378A;
    min-height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .container .subscribe div h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.footer .container .subscribe .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}

.footer .container .subscribe input[type="text"] {
    flex: 2;
    padding: 10px 15px;
    border: 2px solid #34568b;
    border-radius: 10px;
    outline: none;
    background-color: rgb(255, 255, 255);
}

button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    background-color: white;
    color: #34568b;
    width: 300px;
}

button:hover {
    background-color: #34568b;
    color: white;
    border: #34568b solid 1px;
}

#author {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .footer .container .subscribe .input {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer .container .subscribe div h1 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    button {
        width: 100%;
    }

    .footer .container .subscribe input[type="text"] {
        width: 100%;
    }
}

.footer .container .social-media {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer .container .social-media i {
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;


}

.footer .container .social-media i:hover {
    color: #000;
}


/* Small Screen */
@media (max-width: 767px) {
    .nav-bar .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-bar .container h2 {
        margin-top: 10px;
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
    }

    .nav-bar input[type="text"],
    .nav-bar .social-media {
        order: 2;
        margin-bottom: 10px;
    }

    .container .first-content {
        flex-direction: flex;
        align-items: center;
        justify-content: center;
    }

    .container .first-content .image {
        order: 1;
        flex: 0 0 100%;
        width: 100%;
    }

    .container .first-content .image img {
        width: 100%;
        height: auto;
        background-size: contain;

    }

    .container .first-content .text-content {
        order: 2;
        flex: 0 0 100%;
        width: 100%;
        padding: 20px;
    }

}